---
BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'false'
AlignConsecutiveDeclarations: 'false'
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: 'true'
BreakBeforeBraces: Linux
ColumnLimit: '140'
ConstructorInitializerIndentWidth: '2'
ContinuationIndentWidth: '2'
IndentWidth: '2'
MaxEmptyLinesToKeep: '2'
NamespaceIndentation: All
PointerAlignment: Left
TabWidth: '2'
UseTab: ForIndentation
...
