id ICON "./assets/logo64.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Blank Coperation"
      VALUE "FileDescription", "A FTP based application for transferring the file between devices over a server"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "File Transfer"
      VALUE "LegalCopyright", "yes"
      VALUE "OriginalFilename", "ftp.exe"
      VALUE "ProductName", "File Transfer"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
